.content
{
    margin: 2em auto;
    max-width: 40em;
    padding: 0 1em;
}

html, body
{
    height: 100%;
}

.full
{
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  position:relative;

}
.logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 320px;
    margin-left: -160px;
    margin-top: -160px;
}
.logo img
{
    width: 100%;
}
#four
{
    background-image: url("../images/imgID46185039.jpg");
}
#two
{
    background-image: url("../images/517977500-australia-v-jordan-2018-fifa-world-cup-qualification.jpg");
}
#three
{
    background-image: url("../images/maxresdefault.jpg");
}
#one
{
    background-image: url("../images/tom-rogic-brendan-rodgers-celtic-18102016_12mdnrsgcgv981wb82vjkd0kqx.jpg");
}
#five
{
    background-image: url("../images/tom-rogic-is-congratulated-by-his-teammates-after-setting-up-australias-third-goal_1v23hyarkqbpn1cwt1gjz0l71a.jpg");
}
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30em;
	height: 13em;
	margin: -6.5em 0 0 -15em;

	background: yellow;
}

input
{
	box-sizing: border-box;
	width: 100%;
}

input[type="email"]
{
	padding: .5em;
}

input[type="submit"]
{
	margin: 1em 0;
	background-color: black;
	color: yellow;
	border-radius: .25em;
	border: none;
	padding: .5em;
	/*font-size: 1.5em;*/
}
